<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Вход в приложение</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Добро пожаловать в наше приложение</h1>
<p>Этот проект представляет собой обучающий тестовый пет-проект, разработанный для демонстрации создания и использования микросервисной архитектуры на основе Spring Boot. Проект состоит из двух основных микросервисов: productApi и consumerService.</p>
<p><strong>Микросервисы:</strong></p>
<ul>
  <li><strong>productApi:</strong> Сервис для управления продуктами и категориями. Поддерживает операции добавления, просмотра, редактирования и удаления продуктов и категорий.</li>
  <li><strong>consumerService:</strong> Потребительский сервис, предоставляющий веб-интерфейс для взаимодействия с productApi. Использует Thymeleaf для генерации динамических веб-страниц.</li>
</ul>
<p><strong>Ключевые функции:</strong></p>
<ul>
  <li>Управление категориями: Добавление, просмотр, редактирование и удаление категорий продуктов.</li>
  <li>Управление продуктами: Добавление, просмотр, редактирование и удаление продуктов.</li>
  <li>Фильтрация продуктов по категориям: Возможность фильтровать продукты по принадлежности к определенной категории.</li>
  <li>Пагинация: Поддержка пагинации для удобного просмотра списка продуктов.</li>
  <li>Валидация данных: Проверка корректности входящих данных при добавлении или редактировании продуктов и категорий.</li>
</ul>
<a href="/products" class="button">ENTER</a>
<p><strong>Postgres: postgres:5432/postgres</strong></p>
<p><strong>productRestApi: http://localhost:9090/products</strong></p>
<p><strong>consumerViewApi: http://localhost:8080/</strong></p>
</body>
</html>
