<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Create Product</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Create Product</h1>
<div th:if="${errorMessage}">
  <p th:text="${errorMessage}" style="color: red;"></p>
</div>
<form th:action="@{/products/create}" th:object="${product}" method="post">
  <p>Name: <input type="text" th:field="*{name}" /></p>
  <p>Description: <input type="text" th:field="*{description}" /></p>
  <p>Price: <input type="number" th:field="*{price}" step="0.01" /></p>
  <p>Category: <select th:field="*{category}">
    <option value="">Choose...</option>
    <option th:each="category : ${categories}"
            th:value="${category.name}"
            th:text="${category.name}"
            ></option>
  </select></p>
  <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>